Body{
    background-color: black;
}

.circle1{
    height: 500px;
    width: 500px;
    border: 8px solid rgb(111, 207, 245);
    border-radius: 50%;
    display: block;
    margin: -100px auto;
}

.innerCircle1{
    height: 35px;
    width: 70px;
    border: 15px solid rgb(111, 207, 245);
    border-radius: 50%;
    position: relative;
    top: 118px;
    left: 587px;
    border-right: 15px solid black;
    border-left: 15px solid black;
    border-bottom: 15px solid black;
    transform: rotate(-29deg);
}

.innerCircle2 {
    height: 35px;
    width: 70px;
    border-width: 15px;
    border-style: solid;
    border-color: rgb(111, 207, 245) black black;
    border-image: initial;
    border-radius: 50%;
    position: relative;
    top: 361px;
    left: 546px;
    transform: rotate(-136deg);
}

.innerCircle3{
    height: 35px;
    width: 70px;
    border: 15px solid rgb(111, 207, 245);
    border-radius: 50%;
    position: relative;
    top: 278px;
    left: 945px;
    transform: rotate(-265deg);
    border-right: 15px solid black;
    border-left: 15px solid black;
    border-bottom: 15px solid black;
}

.circle2{
    height: 400px;
    width: 400px;
    border: 5px solid rgb(111, 207, 245);
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-radius: 50%;
    display: block;
    margin: -458px auto;
    transform: rotate(-10deg);
    animation: rotate 40s infinite linear;
}

.circle3{
    height: 350px;
    width: 350px;
    border: 9px solid rgb(111, 207, 245);
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 9px solid black;
    border-radius: 50%;
    margin: 80px auto;
    transform: rotate(80deg);
    animation: rotate1 10s infinite linear , flicker 6s ease infinite;
    
}

.circle4 {
    height: 300px;
    width: 300px;
    border: 3px solid rgb(111, 207, 245);
    border-radius: 50%;
    margin: -400px auto;
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes rotate1 {
    from {
        -webkit-transform: rotate(359deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes flicker {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes flicker2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.circle5 {
    height: 250px;
    width: 250px;
    border: 18px solid rgb(111, 207, 245);
    border-radius: 50%;
    display: block;
    margin: 105px auto;
    animation: flicker2 6s ease infinite;
}

.circle6 {
    height: 200px;
    width: 200px;
    border: 5px solid rgb(111, 207, 245);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 50%;
    display: block;
    margin: -350px auto;
    
}

.circle7 {
    height: 150px;
    width: 150px;
    border: 5px solid rgb(111, 207, 245);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 50%;
    display: block;
    margin: 170px auto;
    transform: rotate(-84deg);
    animation: rotate 9s infinite linear;
}

#btn{
    position: relative;
    top: -263px;
    left: 690px;
    z-index: 1;
    background: transparent;
    color: azure;
    font-size: 30px;
    font-weight: 600;
    border: none;
}

#btn:hover{
    color: rgb(207, 207, 207);
    cursor: pointer;
}

